<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Yelp url:</strong>
  <%= @restaurant.yelp_url %>
</p>

<p>
  <strong>Opens at:</strong>
  <%= @restaurant.opens_at %>
</p>

<p>
  <strong>Closes at:</strong>
  <%= @restaurant.closes_at %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
